<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Добавить новый товар</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

</head>
<body>

<div class="container mt-5 mb-5">
    <h2>Заказ</h2>

    <form th:action="@{/order-add}" method="post">
        <div class="form-group">
            <label for=>Клиент:</label>
            <input type="text"name="client" class="form-control">
        </div>
        <div class="form-group">
            <label for=>Адрес:</label>
            <input type="text" name="address" class="form-control">
        </div>
        <div class="form-group">
            <label for=>Название:</label>
            <input type="text" name="name" class="form-control">
        </div>

        <button type="submit"href="/new-order" class="btn btn-success">Сохранить</button>
    </form>
</div>
</body>
<style>

</style>
</html>
